*.DS_Store*
backend-springboot/.DS_Store
backend-springboot/.DS_Store
frontend-react/node_modules/*
frontend-react/.idea/*
frontend-react/README.md
*.iml
.DS_Store
.DS_Store
frontend-react/.idea/inspectionProfiles/Project_Default.xml
frontend-react/.idea/vcs.xml
backend-springboot/.idea/workspace.xml
backend-springboot/.idea/encodings.xml
backend-springboot/.idea/misc.xml
backend-springboot/.idea/modules.xml
backend-springboot/.idea/vcs.xml
