.table-responsive {
    min-height: .01%;
    overflow-x: unset;
}

table.table td a {
    font-weight: bold;
    color: #0000ffa3;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}